.home11-container {
  max-width: fit-content;
    .some-element {
        color:rgb(141, 109, 109);
        border: 1px solid rgb(167, 55, 55);
        padding: 10px;
    }
    .another-component {
      color:rgb(219, 119, 119);
    }
}
