# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/testing-library-23
/projects/testing-library/node_modules
# Read these
#     https://stackoverflow.com/questions/13668097/how-to-replace-npm-node-module-folder-with-another-folder
#     https://stackoverflow.com/questions/14742553/how-to-set-custom-location-for-local-installation-of-npm-package
#     https://stackoverflow.com/questions/20280256/how-to-set-the-default-path-for-node-modules 



# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
