# this .npmrc is project specific
# all npm related stuff ----> happen as per these configurations
    # npm login, npm publish, auth token & stuff
# this npmrc file must be located at root level
    # sibling of package.json (or) node_modules folder

; apart from # (hash) we also can use ; (semi-colon) for making comments

######################################## UNCOMMENT THESE AND SEE THE MAGIC
# @myorg:registry=https://somewhere-else.com/myorg
# @another:registry=https://somewhere-else.com/another
# //registry.npmjs.org/:_authToken=MYTOKEN
# ; would apply to both @myorg and @another
# ; //somewhere-else.com/:_authToken=MYTOKEN
# ; would apply only to @myorg
# //somewhere-else.com/myorg/:_authToken=MYTOKEN1
# ; would apply only to @another
# //somewhere-else.com/another/:_authToken=MYTOKEN2


@gopal612:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=npm_80VV....XXXXXXXXXX.....