/* You can add global styles to this file, and also import other style files */
.library-snackbar-class {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(151, 18, 18);
  border: 1px solid grey;
}
