<div class="app-products-container">
    <div class="user-buttons">
        <button (click)="showPTile=!showPTile">show p-tile</button>
        <button (click)="showPGrid=!showPGrid">show p-grid</button>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div *ngIf="showPTile" class="child-component">
            <div *ngFor="let product of products">
                <lib-p-tile [product]="product"></lib-p-tile>
            </div>        
        </div>
        <div *ngIf="showPGrid" class="child-component">
            <div *ngFor="let product of products">
                <lib-p-grid [product]="product"></lib-p-grid>
            </div>        
        </div>
    </div>    
</div>
