<div class="home-container">
    <div>
        <button (click)="showHome11=!showHome11">home11</button>
        <button (click)="showHome12=!showHome12">home12</button>
        <button (click)="showProducts=!showProducts">products</button>
        <button (click)="showCategories=!showCategories">categories</button>
    </div>
    
    <div>
        <div *ngIf= "showHome12" class="another-component">
            <app-home12></app-home12>
        </div>
        <div *ngIf= "showHome11" class="another-component">
            <app-home11></app-home11>
        </div>
        <div *ngIf="showProducts" class="another-component">
            <app-app-products></app-app-products>
        </div>
        <div *ngIf="showCategories" class="another-component">
            <app-app-categories></app-app-categories>
        </div>
    </div>
</div>




