<div class="clubs-container" fxLayout="row wrap" fxLayoutGap="50px">
    <div class="club-element" *ngFor="let club of footballClubs; index as index">
        <strong>{{club?.name}}</strong>
        <lib-club-titles [clTitles]="club?.clTitles" [domesticTitles]="club?.domesticTitles"></lib-club-titles>
        <lib-club-address [clubAddress]="club?.clubAddress"></lib-club-address>
    </div>
    <div>
        <lib-notification13 [message]="'football module'"></lib-notification13>
    </div>
</div>
