<div class="app-container">
  <div class="navigation-links" fxLayout="row" fxLayoutGap="20px">
    <a style="cursor:pointer" (click)="navigateToAppHome()"> Go Back </a>
    <a [routerLink]="['home']"> Home </a>
    <a [routerLink]="['animals']"> Animals </a>
    <a [routerLink]="['football']"> Football </a>    
    <a [routerLink]="['cricket']"> cricket </a>    
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div fxLayout="column" fxLayoutGap="20px">
</div> -->

